h1 {
  color: #9290c3;
}

.service-box {
  background-color: #1b1a55;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.service-box h3 {
  color: #9290c3;
}

.service-box p {
  color: #ffffff;
}
